<h1> Moderated Groups </h1>
<% @moderated_groups.each do |group| %>
  <h3><%= group.name %></h3>
  <%= 'No unnapproved gatherings' unless group.gatherings.unapproved.any? %>
  <% group.gatherings.unapproved.each do |gathering| %>  
    <p> Unapproved Gatherings</p>
    <%= link_to gathering.name, group_gathering_path(group, gathering) %>
    <%= gathering.description %>
    <%= User.find(gathering.creator_id).username %>
  <% end %>
<% end %>
