<h1>Profiles#show</h1>

<p><%= @profile.location %></p>
<p><%= @profile.latitude %></p>
<p><%= @profile.longitude %></p>
<p><%= @profile.user_id %></p>


<% if signed_in? && @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_profile_path(@user, @profile) %>
<% end %>
