<h1>Happenings#index</h1>


  <h3>Search happeinings near you: </h3>
  <%= form_tag happenings_index_path, method: :get do %>
    <div>
      <%= text_field_tag :search, params[:search],
      placeholder: 'All happenings', type: :search, style: 'width: 150px' %>
      <label> within
        <%= select_tag :radius, options_for_select([25, 50, 100]) %>
        miles of <%=@location ? @location.city : current_user.address.location%>
      </label>
    </div>
    <div><%= submit_tag 'Search' %></div>
  <% end %>

<% if !signed_in? %>
  <ul>
    <li><%= @location.ip %></li>
    <li><%= @location.latitude %></li>
    <li><%= @location.longitude %></li>
    <li><%= @location.city %></li>
    <li><%= @location.metrocode %></li>
    <li><%= @location.country_code %></li>
  </ul>
<% end %>
  

<% @happenings.map(&:date).uniq.each do |date| %>
  <h3><%= date.to_formatted_s(:short) %></h3>
  <% happenings = @happenings.select { |happening| happening.date == date } %>
  <% happenings.each do |happening| %>
    <p><%= link_to happening.name, happening %></p>
  <% end %>
<% end %>

<% if signed_in? && current_user.address%>
  <% @addresses.each do |a| %>
    <p><%=a%></p>
  <% end %>
<% end %>
