<%= render 'join' %>
<%= render 'new_gathering_link' %>

<% if current_user and current_user.id == @group.owner_id %>
  <%= link_to 'New Gathering', new_group_gathering_path(@group) %>
<% end %>

<%= @group.name %>
<% @gatherings.each do |g| %>
  <ul>
    <li><%= g.name %></li>
    <li><%= g.date %></li>
  </ul>
<% end %>


<!-- TODO: Save this as a partial. 
          Have this as a link only mod can see. 
          Mod clicks link and ajax renders partial -->

<h2>Mods</h2>
<% @group.moderators.each do |g| %>
  <% user_moderation = g.moderations.where(moderated_group_id: @group.id).first %>
  <ul>
    <li><%= g.username%></li>
    <ul>
      <li><%= link_to 'delete', [g, user_moderation], :method => 'delete' %></li>
    </ul>
  </ul>
<% end %>

