<div class="group-banner">
  <div class="group-name">
    <%= @group.name %>
  </div>
  <div class="group-links">
    <%= render 'join' %>
  </div>
</div>

<div class="row">
  <div class="col-md-3 hidden-xs hidden-sm">
    <div class="group-info">
      <h3><%= @group.address.location %></h3>
      <p><%= @group.created_at.strftime("Started on %b %d, %Y") %></p>
      <div class="line-seperator"></div>
      <p>Members: <%= @group.members.count %></p>
      <div class="line-seperator"></div>
      <p>Upcoming gatherings: <%= @group.gatherings.upcoming.count %></p>
      <div class="line-seperator"></div>
      <p>Past gatherings: <%= @group.gatherings.past.count %></p>
      <div class="line-seperator"></div>
      <h4>Group Mods</h4>
      <% @group.moderators.uniq.each do |m| %>
        <p><%= m.username %></p>
        <div class="line-seperator"></div>
      <% end %>
      <%= render 'new_gathering' %>

<%= link_to 'Edit Group', edit_group_path(@group) if privileged_member? %>

<% if signed_in? && @group.owner_id == current_user.id %>
  <%= link_to 'Delete Group', group_path(@group), :method => :delete,
                                                  :confirm => 'Are you sure?'%>
<% end %>

    </div>
  </div>

  <div class="col-md-9">
    <div class="gathering-list">
      <% @gatherings.each do |g| %>
        <div class="gathering">
          <div class="gathering-name">
            <%= link_to g.name, g %>
          </div>
          <div class="gathering-description">
            <%= g.description %>
          </div>
          <div class="gathering-date">
            <%= g.date %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
