<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-sm-offset-2 col-sm-8'>
      <%= render 'attend' if current_user %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @gathering.name %></h3>
          </div>
          <div class="panel-body well">
            <%= @gathering.description %>
          </div>
          <small><%= @gathering.date %></small>
          <small><%= link_to @gathering.creator.username, @gathering.creator %></small>
          <% if gathering_creator? %>

            <small><%= link_to 'Edit', edit_gathering_path(@gathering) %></small>
            <small><%= link_to 'Delete Gathering', gathering_path(@gathering),
              :method => :delete, :confirm => 'Are you sure?'%>
          <% end %>

        </div>
        <h2>People attending</h2>
        <% @gathering.attendees.each do |a| %>
          <ul>
            <li><%= a.username %></li>
          </ul>
        <% end %>
        <% if privileged_member? && !@gathering.approved %>
          <%= simple_form_for @gathering do |f| %>
            <%= f.hidden_field :approved, :value => true %>
            <%= f.submit "Approve Gathering", class: "btn btn-large btn-primary" %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
