<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-sm-offset-4 col-sm-4'>
      <%= simple_form_for @event do |f| %>

        <%= f.input :title, required: false, autofocus: true %>
        <%= f.input :description, required: false %>
        <%= f.input :date, as: :date, start_year: Date.today.year, 
                    required: false %>

        <%= f.submit 'Create Event', class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</div>
